In [ ]:
# Importation

In [2]:
import pandas as pd

In [ ]:
# Importation fichier

In [76]:
dff = pd.read_csv("CricketTestMatchData_csv.csv",  sep =";")
dff

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6
1,HC Brook (ENG),2022-2023,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
3,RG Pollock (SA),1963-1970,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,SJ McCabe (AUS),1930-1938,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2.0,53+,0
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# Renommer les colonnes dans une liste
dff.columns

dff=dff.rename(columns={"Span": "playing_span", 
                      "Mat":"matches",
                      "Inns":"innings_bated",
                      "NO":"not_outs",
                      "Runs":"run_scored",
                      "HS":"highest_inns_score",
                      "Ave":"batting_average",
                      "BF":"balls_faced",
                      "SR":"batting_stike_rate",
                      "100":"100s_scored",
                      "50":"50s_scored",
                      "0":"0_ducks_scored",
                      "4s":"boundary_4s",
                      "6s":"boundary_6s"})
dff.head()

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6
1,HC Brook (ENG),2022-2023,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
3,RG Pollock (SA),1963-1970,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2.0,104+,1

In [78]:
dff.columns

Index(['Player', 'playing_span', 'matches', 'innings_bated', 'not_outs',
       'run_scored', 'highest_inns_score', 'batting_average', 'balls_faced',
       'batting_stike_rate', '100s_scored', '50s_scored', '0_ducks_scored',
       'boundary_4s', 'boundary_6s'],
      dtype='object')

In [ ]:
# Vérification des val. nulles

In [79]:
dff.isnull().any()
dff.isnull()

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
66,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
67,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True

In [80]:
df = dff.loc[0:64,:]
df

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6
1,HC Brook (ENG),2022-2023,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
3,RG Pollock (SA),1963-1970,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74.0,125.0,14.0,5357.0,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29.0,48.0,4.0,2122.0,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2.0,53+,0

In [81]:
df.isnull().any()

Player                False
playing_span          False
matches               False
innings_bated         False
not_outs              False
run_scored            False
highest_inns_score    False
batting_average       False
balls_faced            True
batting_stike_rate    False
100s_scored           False
50s_scored            False
0_ducks_scored        False
boundary_4s           False
boundary_6s           False
dtype: bool

In [ ]:
# Nous remarquons que la variable "balls_faced" contient des val. nulle qu'il faudra gérer via ce qui suit

In [82]:
df[df.balls_faced.isna()==1]
# Rmq: Ce code permet de vérifier si chaque élément de la série est égal à 1. Sahant qu'en Python, 
#      True est équivalent à 1 et False à 0, cela crée une série de booléens où True représente les
#      lignes avec des valeurs manquantes dans la colonne balls_faced.

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s
8,ED Weekes (WI),1948-1958,48.0,81.0,5.0,4455.0,207,58.61,NaN,0.0,15.0,19.0,6.0,258+,2
15,CL Walcott (WI),1948-1960,44.0,74.0,7.0,3798.0,220,56.68,NaN,0.0,15.0,14.0,1.0,107+,11
57,Hon.FS Jackson (ENG),1893-1905,20.0,33.0,4.0,1415.0,144*,48.79,NaN,0.0,5.0,6.0,3.0,51+,0

In [83]:
# Imputation par 0
df["balls_faced"]= df.balls_faced.fillna(0)

C:\Users\33788\AppData\Local\Temp\ipykernel_162860\2523875023.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["balls_faced"]= df.balls_faced.fillna(0)

In [84]:
df

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6
1,HC Brook (ENG),2022-2023,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5
3,RG Pollock (SA),1963-1970,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74.0,125.0,14.0,5357.0,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23
61,GC Smith (ICC/SA),2002-2014,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24
62,WH Ponsford (AUS),1924-1934,29.0,48.0,4.0,2122.0,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0
63,SJ McCabe (AUS),1930-1938,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+
64,DR Jardine (ENG),1928-1934,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2.0,53+,0

In [58]:
df[df["Player"]=="CL Walcott (WI)"]

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s
15,CL Walcott (WI),1948-1960,44.0,74.0,7.0,3798.0,220,56.68,0,0.0,15.0,14.0,1.0,107+,11

In [85]:
df.isna().sum()

Player                0
playing_span          0
matches               0
innings_bated         0
not_outs              0
run_scored            0
highest_inns_score    0
batting_average       0
balls_faced           0
batting_stike_rate    0
100s_scored           0
50s_scored            0
0_ducks_scored        0
boundary_4s           0
boundary_6s           0
dtype: int64

In [37]:
# Gestion des doublons

In [86]:
df.duplicated().sum()
# Nous remarquons la présence de 3 doublons. Ainsi, voyons lesquels avant de les supprimer de la base de données

3

In [63]:
df[df["Player"].duplicated()==1]

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s
10,WR Hammond (ENG),1927-1947,85.0,140.0,16.0,7249.0,336*,58.45,7491+,38.07,22.0,24.0,4.0,419+,27
17,L Hutton (ENG),1937-1955,79.0,138.0,15.0,6971.0,364,56.67,2844+,39.34,19.0,33.0,5.0,358+,7
37,SM Gavaskar (IND),1971-1987,125.0,214.0,16.0,10122.0,236*,51.12,14184+,43.35,34.0,45.0,12.0,908+,26

In [87]:
df = df.drop_duplicates()

In [88]:
df.duplicated().sum()

0

In [ ]:
### Transformer la colonne "playing_span". On créera 3 nouvelles colonne nommées: "start_carrer", end_carrer, "carrer_length"

In [89]:
df.columns

Index(['Player', 'playing_span', 'matches', 'innings_bated', 'not_outs',
       'run_scored', 'highest_inns_score', 'batting_average', 'balls_faced',
       'batting_stike_rate', '100s_scored', '50s_scored', '0_ducks_scored',
       'boundary_4s', 'boundary_6s'],
      dtype='object')

In [90]:
df.playing_span

0     1928-1948
1     2022-2023
2     2015-2016
3     1963-1970
4     1930-1954
        ...
60    1965-1981
61    2002-2014
62    1924-1934
63    1930-1938
64    1928-1934
Name: playing_span, Length: 62, dtype: object

In [91]:
df["playing_span"].str.split(pat= '-')

0     [1928, 1948]
1     [2022, 2023]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
60    [1965, 1981]
61    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: playing_span, Length: 62, dtype: object

In [92]:
df["playing_span"].str.split(pat= '-').str[0]

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
60    1965
61    2002
62    1924
63    1930
64    1928
Name: playing_span, Length: 62, dtype: object

In [93]:
df["playing_span"].str.split(pat= '-').str[1]

0     1948
1     2023
2     2016
3     1970
4     1954
      ...
60    1981
61    2014
62    1934
63    1938
64    1934
Name: playing_span, Length: 62, dtype: object

In [94]:
df["Rookie_year"]= df["playing_span"].str.split(pat= '-').str[0]

C:\Users\33788\AppData\Local\Temp\ipykernel_162860\259028551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Rookie_year"]= df["playing_span"].str.split(pat= '-').str[0]

In [95]:
df["Final_year"]= df["playing_span"].str.split(pat= '-').str[1]

C:\Users\33788\AppData\Local\Temp\ipykernel_162860\5624463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Final_year"]= df["playing_span"].str.split(pat= '-').str[1]

In [96]:
df

,Player,playing_span,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year
0,DG Bradman (AUS),1928-1948,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6,1928,1948
1,HC Brook (ENG),2022-2023,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2.0,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74.0,125.0,14.0,5357.0,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23,1965,1981
61,GC Smith (ICC/SA),2002-2014,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,2002,2014
62,WH Ponsford (AUS),1924-1934,29.0,48.0,4.0,2122.0,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0,1924,1934
63,SJ McCabe (AUS),1930-1938,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+,1930,1938
64,DR Jardine (ENG),1928-1934,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2.0,53+,0,1928,1934

In [100]:
## Supprimons maintenant la variable "playing_span"
df= df.drop(["playing_span"], axis=1)

In [103]:
df.head(2)

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year
0,DG Bradman (AUS),52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6,1928,1948
1,HC Brook (ENG),12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,2022,2023

In [ ]:
## Manipuler la variable "Player" pour en resortir le pays du joueur

In [104]:
df["Player"].str.split(pat= "(")

0      [DG Bradman , AUS)]
1        [HC Brook , ENG)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
60     [KD Walters , AUS)]
61    [GC Smith , ICC/SA)]
62    [WH Ponsford , AUS)]
63      [SJ McCabe , AUS)]
64     [DR Jardine , ENG)]
Name: Player, Length: 62, dtype: object

In [107]:
df["Country"]= df["Player"].str.split(pat= "(").str[1]

In [108]:
df["Country"]

0        AUS)
1        ENG)
2        AUS)
3         SA)
4         WI)
       ...
60       AUS)
61    ICC/SA)
62       AUS)
63       AUS)
64       ENG)
Name: Country, Length: 62, dtype: object

In [110]:
df["Country"] = df["Country"].str.split(pat= ")").str[0]

In [111]:
df["Country"]

0        AUS
1        ENG
2        AUS
3         SA
4         WI
       ...
60       AUS
61    ICC/SA
62       AUS
63       AUS
64       ENG
Name: Country, Length: 62, dtype: object

In [112]:
df["Player"] = df["Player"].str.split(pat= "(").str[0]

In [113]:
df["Player"]

0      DG Bradman
1        HC Brook
2        AC Voges
3      RG Pollock
4      GA Headley
          ...
60     KD Walters
61       GC Smith
62    WH Ponsford
63      SJ McCabe
64     DR Jardine
Name: Player, Length: 62, dtype: object

In [115]:
df.head(2)

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country
0,DG Bradman,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6,1928,1948,AUS
1,HC Brook,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,2022,2023,ENG

In [119]:
### VERIFICATION DES TYPES DE DONNEES
## Nous allons corriger les types de variables une par une

### TAF: Transforme les types de données
#      highest_inns_score ==> INT
#      balls_faced ==> INT
#      boundary_4s ==> INT
#      boundary_6s ==> INT
#      Rookie_year ==> DATE
#      Final_year ==> DATE

In [120]:
df.dtypes

Player                 object
matches               float64
innings_bated         float64
not_outs              float64
run_scored            float64
highest_inns_score     object
batting_average       float64
balls_faced            object
batting_stike_rate    float64
100s_scored           float64
50s_scored            float64
0_ducks_scored        float64
boundary_4s            object
boundary_6s            object
Rookie_year            object
Final_year             object
Country                object
dtype: object

In [121]:
### La colonne "highest_inns_score" contient des étoile sur certaines valeurs.
#   Il faudra les enlever, puis transformer le types de données

df

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country
0,DG Bradman,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6,1928,1948,AUS
1,HC Brook,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,2022,2023,ENG
2,AC Voges,20.0,31.0,7.0,1485.0,269*,61.87,2667,55.68,5.0,4.0,2.0,186,5,2015,2016,AUS
3,RG Pollock,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,1963,1970,SA
4,GA Headley,22.0,40.0,4.0,2190.0,270*,60.83,416+,56.00,10.0,5.0,2.0,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters,74.0,125.0,14.0,5357.0,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23,1965,1981,AUS
61,GC Smith,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29.0,48.0,4.0,2122.0,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0,1924,1934,AUS
63,SJ McCabe,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+,1930,1938,AUS
64,DR Jardine,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2.0,53+,0,1928,1934,ENG

In [122]:
df["highest_inns_score"].str.split(pat="*")

0       [334]
1       [186]
2     [269, ]
3       [274]
4     [270, ]
       ...
60      [250]
61      [277]
62      [266]
63      [232]
64      [127]
Name: highest_inns_score, Length: 62, dtype: object

In [123]:
df["highest_inns_score"] = df["highest_inns_score"].str.split(pat="*").str[0]

In [124]:
df["highest_inns_score"]

0     334
1     186
2     269
3     274
4     270
     ...
60    250
61    277
62    266
63    232
64    127
Name: highest_inns_score, Length: 62, dtype: object

In [125]:
df

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country
0,DG Bradman,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6,1928,1948,AUS
1,HC Brook,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,2022,2023,ENG
2,AC Voges,20.0,31.0,7.0,1485.0,269,61.87,2667,55.68,5.0,4.0,2.0,186,5,2015,2016,AUS
3,RG Pollock,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,1963,1970,SA
4,GA Headley,22.0,40.0,4.0,2190.0,270,60.83,416+,56.00,10.0,5.0,2.0,104+,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters,74.0,125.0,14.0,5357.0,250,48.26,8662+,49.16,15.0,33.0,4.0,525+,23,1965,1981,AUS
61,GC Smith,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29.0,48.0,4.0,2122.0,266,48.22,3118+,44.77,7.0,6.0,1.0,119+,0,1924,1934,AUS
63,SJ McCabe,39.0,62.0,5.0,2748.0,232,48.21,3217+,60.02,6.0,13.0,4.0,241+,5+,1930,1938,AUS
64,DR Jardine,22.0,33.0,6.0,1296.0,127,48.00,2110+,25.59,1.0,10.0,2.0,53+,0,1928,1934,ENG

In [130]:
### Transformer le type de données de "highest_inns_score"
df["highest_inns_score"] = df["highest_inns_score"].astype("int")

In [131]:
### Transformer le type de données de "Rookie_year" et "Final_year"
df.dtypes

Player                 object
matches               float64
innings_bated         float64
not_outs              float64
run_scored            float64
highest_inns_score      int32
batting_average       float64
balls_faced            object
batting_stike_rate    float64
100s_scored           float64
50s_scored            float64
0_ducks_scored        float64
boundary_4s            object
boundary_6s            object
Rookie_year            object
Final_year             object
Country                object
dtype: object

In [136]:
df= df.astype({"Rookie_year": "int", "Final_year": "int"})

In [137]:
df.dtypes

Player                 object
matches               float64
innings_bated         float64
not_outs              float64
run_scored            float64
highest_inns_score      int32
batting_average       float64
balls_faced            object
batting_stike_rate    float64
100s_scored           float64
50s_scored            float64
0_ducks_scored        float64
boundary_4s            object
boundary_6s            object
Rookie_year             int32
Final_year              int32
Country                object
dtype: object

In [140]:
df.head()

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country
0,DG Bradman,52.0,80.0,10.0,6996.0,334,99.94,9800+,58.60,29.0,13.0,7.0,626+,6,1928,1948,AUS
1,HC Brook,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,2022,2023,ENG
2,AC Voges,20.0,31.0,7.0,1485.0,269,61.87,2667,55.68,5.0,4.0,2.0,186,5,2015,2016,AUS
3,RG Pollock,23.0,41.0,4.0,2256.0,274,60.97,1707+,54.48,7.0,11.0,1.0,246+,11,1963,1970,SA
4,GA Headley,22.0,40.0,4.0,2190.0,270,60.83,416+,56.00,10.0,5.0,2.0,104+,1,1930,1954,WI

In [ ]:
### Transformer le type de données de "balls_faced"

In [146]:
df["balls_faced"] = df["balls_faced"].str.split(pat="+").str[0]

In [148]:
df[df["balls_faced"].isna()==1]

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country
8,ED Weekes,48.0,81.0,5.0,4455.0,207,58.61,NaN,0.0,15.0,19.0,6.0,258+,2,1948,1958,WI
15,CL Walcott,44.0,74.0,7.0,3798.0,220,56.68,NaN,0.0,15.0,14.0,1.0,107+,11,1948,1960,WI
57,Hon.FS Jackson,20.0,33.0,4.0,1415.0,144,48.79,NaN,0.0,5.0,6.0,3.0,51+,0,1893,1905,ENG

In [149]:
df.isna().sum()

Player                0
matches               0
innings_bated         0
not_outs              0
run_scored            0
highest_inns_score    0
batting_average       0
balls_faced           3
batting_stike_rate    0
100s_scored           0
50s_scored            0
0_ducks_scored        0
boundary_4s           0
boundary_6s           0
Rookie_year           0
Final_year            0
Country               0
dtype: int64

In [150]:
df["balls_faced"] = df["balls_faced"].fillna(0)

In [151]:
df["balls_faced"] = df["balls_faced"].astype("int")

In [152]:
df.dtypes

Player                 object
matches               float64
innings_bated         float64
not_outs              float64
run_scored            float64
highest_inns_score      int32
batting_average       float64
balls_faced             int32
batting_stike_rate    float64
100s_scored           float64
50s_scored            float64
0_ducks_scored        float64
boundary_4s            object
boundary_6s            object
Rookie_year             int32
Final_year              int32
Country                object
dtype: object

In [153]:
df.isna().sum()

Player                0
matches               0
innings_bated         0
not_outs              0
run_scored            0
highest_inns_score    0
batting_average       0
balls_faced           0
batting_stike_rate    0
100s_scored           0
50s_scored            0
0_ducks_scored        0
boundary_4s           0
boundary_6s           0
Rookie_year           0
Final_year            0
Country               0
dtype: int64

In [154]:
pd.set_option('display.max_rows', None)

In [155]:
df

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country
0,DG Bradman,52.0,80.0,10.0,6996.0,334,99.94,9800,58.60,29.0,13.0,7.0,626+,6,1928,1948,AUS
1,HC Brook,12.0,20.0,1.0,1181.0,186,62.15,1287,91.76,4.0,7.0,1.0,141,23,2022,2023,ENG
2,AC Voges,20.0,31.0,7.0,1485.0,269,61.87,2667,55.68,5.0,4.0,2.0,186,5,2015,2016,AUS
3,RG Pollock,23.0,41.0,4.0,2256.0,274,60.97,1707,54.48,7.0,11.0,1.0,246+,11,1963,1970,SA
4,GA Headley,22.0,40.0,4.0,2190.0,270,60.83,416,56.00,10.0,5.0,2.0,104+,1,1930,1954,WI
5,H Sutcliffe,54.0,84.0,9.0,4555.0,194,60.73,6558,34.59,16.0,23.0,2.0,202+,6,1924,1935,ENG
6,E Paynter,20.0,31.0,5.0,1540.0,243,59.23,1288,45.88,4.0,7.0,3.0,125+,4,1931,1939,ENG
7,KF Barrington,82.0,131.0,15.0,6806.0,256,58.67,4957,42.42,20.0,35.0,5.0,591+,27,1955,1968,ENG
8,ED Weekes,48.0,81.0,5.0,4455.0,207,58.61,0,0.00,15.0,19.0,6.0,258+,2,1948,1958,WI
9,WR Hammond,85.0,140.0,16.0,7249.0,336,58.45,7491,38.07,22.0,24.0,4.0,419+,27,1927,1947,ENG
11,GS Sobers,93.0,160.0,21.0,8032.0,365,57.78,4063,53.58,26.0,30.0,12.0,593+,32+,1954,1974,WI
12,KC Sangakkara,134.0,233.0,17.0,12400.0,319,57.40,22882,54.19,38.0,52.0,11.0,1491,51,2000,2015,SL
13,SPD Smith,109.0,195.0,25.0,9685.0,239,56.97,18100,53.50,32.0,41.0,10.0,1063,54,2010,2024,AUS
14,JB Hobbs,61.0,102.0,7.0,5410.0,211,56.94,5363,46.22,15.0,28.0,4.0,276+,8,1908,1930,ENG
15,CL Walcott,44.0,74.0,7.0,3798.0,220,56.68,0,0.00,15.0,14.0,1.0,107+,11,1948,1960,WI
16,L Hutton,79.0,138.0,15.0,6971.0,364,56.67,2844,39.34,19.0,33.0,5.0,358+,7,1937,1955,ENG
18,JH Kallis,166.0,280.0,40.0,13289.0,224,55.37,28903,45.97,45.0,58.0,16.0,1488,97,1995,2013,ICC/SA
19,GE Tyldesley,14.0,20.0,2.0,990.0,122,55.00,178,29.21,3.0,6.0,2.0,37+,2,1921,1929,ENG
20,KS Williamson,100.0,176.0,17.0,8743.0,251,54.98,17006,51.41,32.0,34.0,11.0,971,24,2010,2024,NZ
21,CA Davis,15.0,29.0,5.0,1301.0,183,54.20,665,35.48,4.0,4.0,1.0,65+,1,1968,1973,WI
22,VG Kambli,17.0,21.0,1.0,1084.0,227,54.20,1823,59.46,4.0,3.0,3.0,124,6,1993,1995,IND
23,GS Chappell,87.0,151.0,19.0,7110.0,247,53.86,13079,51.53,24.0,31.0,12.0,755,16,1970,1984,AUS
24,AD Nourse,34.0,62.0,7.0,2960.0,231,53.81,108,63.88,9.0,14.0,3.0,115+,6,1935,1951,SA
25,SR Tendulkar,200.0,329.0,33.0,15921.0,248,53.78,29437,54.04,51.0,68.0,14.0,2058+,69,1989,2013,IND
26,BC Lara,131.0,232.0,6.0,11953.0,400,52.88,19753,60.51,34.0,48.0,17.0,1559,88,1990,2006,ICC/WI
27,Javed Miandad,124.0,189.0,21.0,8832.0,280,52.57,15164,45.99,23.0,43.0,6.0,788+,48,1976,1993,PAK
28,R Dravid,164.0,286.0,32.0,13288.0,270,52.31,31258,42.51,36.0,63.0,8.0,1654,21,1996,2012,ICC/IND
29,Mohammad Yousuf,90.0,156.0,12.0,7530.0,223,52.29,14372,52.39,24.0,33.0,11.0,957,51,1998,2010,PAK
30,Younis Khan,118.0,213.0,19.0,10099.0,313,52.05,19375,52.12,34.0,33.0,19.0,1082,70,2000,2017,PAK
31,RT Ponting,168.0,287.0,29.0,13378.0,257,51.85,22782,58.72,41.0,62.0,17.0,1509,73,1995,2012,AUS
32,J Ryder,20.0,32.0,5.0,1394.0,201,51.62,2035,44.86,3.0,9.0,1.0,102+,3,1920,1929,AUS
33,A Flower,63.0,112.0,19.0,4794.0,232,51.54,10636,45.07,12.0,27.0,5.0,543,20,1992,2002,ZIM
34,MEK Hussey,79.0,137.0,16.0,6235.0,195,51.52,12436,50.13,19.0,29.0,12.0,685,39,2005,2013,AUS
35,S Chanderpaul,164.0,280.0,49.0,11867.0,203,51.37,27395,43.31,30.0,66.0,15.0,1285,36,1994,2015,WI
36,SM Gavaskar,125.0,214.0,16.0,10122.0,236,51.12,14184,43.35,34.0,45.0,12.0,908+,26,1971,1987,IND
38,SR Waugh,168.0,260.0,46.0,10927.0,200,51.06,22461,48.64,32.0,50.0,22.0,1175,20,1985,2004,AUS
39,ML Hayden,103.0,184.0,14.0,8625.0,380,50.73,14349,60.10,30.0,29.0,14.0,1049,82,1994,2009,AUS
40,AB de Villiers,114.0,191.0,18.0,8765.0,278,50.66,16077,54.51,22.0,46.0,8.0,1024,64,2004,2018,SA
41,AR Border,156.0,265.0,44.0,11174.0,205,50.56,27002,41.09,27.0,63.0,11.0,1161,28,1978,1994,AUS
42,DJ Mitchell,23.0,37.0,5.0,1608.0,190,50.25,3014,53.35,5.0,10.0,1.0,158,29,2019,2024,NZ
43,IVA Richards,121.0,182.0,12.0,8540.0,291,50.23,9613,69.77,24.0,45.0,10.0,952+,84,1974,1991,WI
44,DCS Compton,78.0,131.0,15.0,5807.0,278,50.06,2731,38.81,17.0,28.0,10.0,342+,3,1937,1957,ENG
45,DPMD Jayawardene,149.0,252.0,15.0,11814.0,374,49.84,22959,51.45,34.0,50.0,15.0,1387,61,1997,2014,SL
46,JE Root,140.0,257.0,21.0,11736.0,254,49.72,20762,56.52,31.0,61.0,12.0,1280,44,2012,2024,ENG
47,Inzamam-ul-Haq,120.0,200.0,22.0,8830.0,329,49.60,16345,54.02,25.0,46.0,15.0,1105,48,1992,2007,ICC/PAK
48,M Labuschagne,50.0,90.0,7.0,4114.0,215,49.56,7809,52.68,11.0,20.0,4.0,463,12,2018,2024,AUS
49,FMM Worrell,51.0,87.0,9.0,3860.0,261,49.48,488,40.16,9.0,22.0,11.0,240+,11,1948,1963,WI
50,CP Mead,17.0,26.0,2.0,1185.0,182,49.37,619,30.04,4.0,3.0,3.0,38+,0,1911,1928,ENG
51,V Sehwag,104.0,180.0,6.0,8586.0,319,49.34,10441,82.23,23.0,32.0,16.0,1233,91,2001,2013,ICC/IND
52,Abid Ali,16.0,26.0,2.0,1180.0,215,49.16,2445,48.26,4.0,3.0,2.0,148,5,2019,2021,PAK
53,V Kohli,113.0,191.0,11.0,8848.0,254,49.15,15924,55.56,29.0,30.0,14.0,991,26,2011,2024,IND
54,MJ Clarke,115.0,198.0,22.0,8643.0,329,49.10,15456,55.92,28.0,27.0,9.0,978,39,2004,2015,AUS
55,KC Bland,21.0,39.0,5.0,1669.0,144,49.08,885,37.74,3.0,9.0,2.0,123+,20,1961,1966,SA
56,B Mitchell,42.0,80.0,9.0,3471.0,189,48.88,158,29.11,8.0,21.0,3.0,41+,1,1929,1949,SA
57,Hon.FS Jackson,20.0,33.0,4.0,1415.0,144,48.79,0,0.00,5.0,6.0,3.0,51+,0,1893,1905,ENG
58,TT Samaraweera,81.0,132.0,20.0,5462.0,231,48.76,11641,46.92,14.0,30.0,11.0,633,7,2001,2013,SL
59,RN Harvey,79.0,137.0,10.0,6149.0,205,48.41,1799,43.74,21.0,24.0,7.0,427+,1,1948,1963,AUS
60,KD Walters,74.0,125.0,14.0,5357.0,250,48.26,8662,49.16,15.0,33.0,4.0,525+,23,1965,1981,AUS
61,GC Smith,117.0,205.0,13.0,9265.0,277,48.25,15525,59.67,27.0,38.0,11.0,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29.0,48.0,4.0,2122.0,266,48.22,3118,44.77,7.0,6.0,1.0,119+,0,1924,1934,AUS
63,SJ McCabe,39.0,62.0,5.0,2748.0,232,48.21,3217,60.02,6.0,13.0,4.0,241+,5+,1930,1938,AUS
64,DR Jardine,22.0,33.0,6.0,1296.0,127,48.00,2110,25.59,1.0,10.0,2.0,53+,0,1928,1934,ENG

In [156]:
### D'abord nous enlévons les "+"  dans les var. boundary_4s" et "boundary_6s"
df["boundary_4s"] = df["boundary_4s"].str.split(pat="+").str[0]
df["boundary_6s"] = df["boundary_6s"].str.split(pat="+").str[0]

In [ ]:
### Transformer le type de données de "boundary_4s" et "boundary_6s". Mais

Index(['Player', 'matches', 'innings_bated', 'not_outs', 'run_scored',
       'highest_inns_score', 'batting_average', 'balls_faced',
       'batting_stike_rate', '100s_scored', '50s_scored', '0_ducks_scored',
       'boundary_4s', 'boundary_6s', 'Rookie_year', 'Final_year', 'Country'],
      dtype='object')

In [162]:
df = df.astype({"boundary_4s":"int","boundary_6s":"int", "matches":"int", "innings_bated":"int",
               "not_outs":"int","run_scored":"int", "100s_scored":"int","50s_scored":"int", "0_ducks_scored":"int"})
df

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG
11,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
13,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG
15,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI
16,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG
18,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
19,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG
20,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ
21,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
23,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
24,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA
25,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND
26,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
27,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK
28,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
29,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
30,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
31,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
36,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
41,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
42,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
46,JE Root,140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,ENG
47,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
48,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS
49,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI
50,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG
51,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
52,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
53,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA
57,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,ENG
58,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
59,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS
60,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [163]:
df.dtypes

Player                 object
matches                 int32
innings_bated           int32
not_outs                int32
run_scored              int32
highest_inns_score      int32
batting_average       float64
balls_faced             int32
batting_stike_rate    float64
100s_scored             int32
50s_scored              int32
0_ducks_scored          int32
boundary_4s             int32
boundary_6s             int32
Rookie_year             int32
Final_year              int32
Country                object
dtype: object

In [ ]:
## DEFINITION DE LA CARRIERE DES JOUEURS en créant la variable "career_lentgh"

In [164]:
df["career_lentgh"] = df.Final_year - df.Rookie_year

In [165]:
df

,Player,matches,innings_bated,not_outs,run_scored,highest_inns_score,batting_average,balls_faced,batting_stike_rate,100s_scored,50s_scored,0_ducks_scored,boundary_4s,boundary_6s,Rookie_year,Final_year,Country,career_lentgh
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,1
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG,8
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG,13
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI,10
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG,20
11,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI,20
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
13,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG,22
15,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI,12
16,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG,18
18,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
19,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG,8
20,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,14
21,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI,5
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
23,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
24,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA,16
25,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND,24
26,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
27,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,17
28,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
29,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
30,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
31,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS,9
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
36,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND,16
38,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
39,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
40,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
41,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
42,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ,5
43,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI,17
44,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG,20
45,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
46,JE Root,140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,ENG,12
47,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
48,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
49,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI,15
50,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG,17
51,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
52,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
53,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND,13
54,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS,11
55,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA,5
56,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA,20
57,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,ENG,12
58,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
59,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS,15
60,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

In [166]:
## QUELQUES QUESTIONS
df.columns

Index(['Player', 'matches', 'innings_bated', 'not_outs', 'run_scored',
       'highest_inns_score', 'batting_average', 'balls_faced',
       'batting_stike_rate', '100s_scored', '50s_scored', '0_ducks_scored',
       'boundary_4s', 'boundary_6s', 'Rookie_year', 'Final_year', 'Country',
       'career_lentgh'],
      dtype='object')

In [169]:
### Question 1: Quelles est la carriére moyenne des joueurs de cette Df
df.career_lentgh.mean().round(3)

13.194

In [171]:
### Question 2: Déterminer la moy. des taux de frappe en bâton ("batting_stike_rate") des joueurs de plus 10 ans de carriére

df[df.career_lentgh >10]["batting_stike_rate"].mean()

# On arrondit à 2chiffres aprés la virgule
df[df.career_lentgh >10]["batting_stike_rate"].mean().round(2)

47.95

In [175]:
### Question 3:  Le nombre de joueurs ayant joué avant 1960
df[df["Rookie_year"] < 1960]["Player"].count()

23

In [180]:
### Question 4:  Le max. de highest_inns_score (i.e. score le plus élevé de manches) par pays df[]
df.groupby("Country")["highest_inns_score"].max()

Country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: highest_inns_score, dtype: int32

In [185]:
### pour le mettre sous forma de dataframe
df.groupby("Country")["highest_inns_score"].max().to_frame("Plus_élevé_manches").reset_index().sort_values("Plus_élevé_manches", ascending = False)

    Country  Plus_élevé_manches
5    ICC/WI                 400
0       AUS                 380
10       SL                 374
11       WI                 365
1       ENG                 364
3   ICC/PAK                 329
2   ICC/IND                 319
8       PAK                 313
9        SA                 278
4    ICC/SA                 277
6       IND                 254
7        NZ                 251
12      ZIM                 232

In [186]:
df.columns

Index(['Player', 'matches', 'innings_bated', 'not_outs', 'run_scored',
       'highest_inns_score', 'batting_average', 'balls_faced',
       'batting_stike_rate', '100s_scored', '50s_scored', '0_ducks_scored',
       'boundary_4s', 'boundary_6s', 'Rookie_year', 'Final_year', 'Country',
       'career_lentgh'],
      dtype='object')

In [193]:
### Question 5: 
df.groupby("Country")[['100s_scored', '50s_scored', '0_ducks_scored']].mean().round(3)

         100s_scored  50s_scored  0_ducks_scored
Country
AUS           20.625      28.375           8.562
ENG           12.385      20.846           4.308
ICC/IND       29.500      47.500          12.000
ICC/PAK       25.000      46.000          15.000
ICC/SA        36.000      48.000          13.500
ICC/WI        34.000      48.000          17.000
IND           29.500      36.500          10.750
NZ            18.500      22.000           6.000
PAK           21.250      28.000           9.500
SA             9.800      20.200           3.400
SL            28.667      44.000          12.333
WI            16.625      25.625           7.250
ZIM           12.000      27.000           5.000

In [ ]:
### Question 1: